<footer class="main-footer">
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div >
                    <div class="logo-widget footer-widget">
                        <p class="logo-box">Partners:</p>
                        
                        <figure class="logo-box"><a href="https://te.itstep.org/?gad_source=1&gclid=CjwKCAjwoPOwBhAeEiwAJuXRh7WCIf2FJeHxfRq2OSVrSdlJuclDWI2Rfkey43bIlK13OqbUFFSeHhoCKd4QAvD_BwE"><img src="https://i.ibb.co/QDy827D/ak-logo.png" alt=""></a></figure>
                        <figure class="logo-box"><a href="https://www.youtube.com/"><img src="assets/you.png" alt=""></a></figure>
                        <figure class="logo-box"><a href="https://rt.pornhub.com/video/search?search=pornohub"><img src="assets/ph.png" alt=""></a></figure>
                        
                        <div class="text">
                            <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.We collect several different types of information for various purposes.</p>
                        </div>
                    </div>
                </div>
                <div >
                    <div class="service-widget footer-widget">
                        <div class="footer-title">Services</div>
                        <ul class="list">

                            <li><a href="https://te.itstep.org/?gad_source=1&gclid=CjwKCAjwoPOwBhAeEiwAJuXRh7WCIf2FJeHxfRq2OSVrSdlJuclDWI2Rfkey43bIlK13OqbUFFSeHhoCKd4QAvD_BwE">Education</a></li>
                            <li><a href="https://next.privat24.ua/">Payments</a></li>
                            <li><a href="https://doba.ua/ukr/blog/10-prichin-pochati-podorozhuvati-pryamo-zaraz.html">Travel</a></li>
                            <li><a href="https://www.buymeacoffee.com/">Help Me</a></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="contact-widget footer-widget">
                        <div class="footer-title">Contacts</div>
                        <div class="text">
                            <p>Email: rostyslav.gritsyshen@gmail.com</p>
                            <p>Telegram: @Ros_SoftDev</p>
                            <p>Address: Ternopil, Ukraine and bla-bla</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>