<div class="cont">
<div class="thank-you-container">
    <h1>Сторіночка подяки</h1>
    <p>Щиро вдячний Софія за ваші зусилля та допомогу, мотивацію та терпіння у вивченні:</p>
    <ul>
      <li>PHP</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>React</li>
      <li>Opencard</li>
      <li>Wordpress</li>
      <li>Плюс ще купа всього інтересного</li>
    </ul>
    <p>І саме головне за розуміння того, що увесь пройдений шлях у навчанні не було пройдено дарма.</p>
    <p style="font-weight: bold;">Переглянути мої краказябри на GitHub можна за допомогою QR-коду:</p>
    <img src="assets/qr.png" alt="QR Code" class="qrcode">
  </div>
</div>
